@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  --navbar-height: 10vh;

  --bg-primary: #0A0A0A;
  --bg-secondary: #1F1F1F;

  --color-primary: #EDEDED;

  --accent-1: #00A8E8;
  --accent-2: #6A1B9A;
  --neutral: #A0A0A0;
}

body {
  background-color: var(--bg-primary);
  color: var(--color-primary);
}

.init_sec_center {
  height: calc(100vh - var(--navbar-height));
}

.init_sec_center:first-child {
  margin-top: calc(var(--navbar-height) * -1);
}
